﻿@model IEnumerable<ROVPROJECTREPORT.Models.Reports>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div>
        <img src="~/img/19199050.jpg" style="width: 400px; display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
        <div class="alert alert-danger" role="alert">
            When reporting success! You will receive a response no more than 24 hours
        </div>
    </div>
    <h1 class="text-center">Account ROV</h1>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg active">Report bugs</button>
        <button type="button" class="btn btn-danger btn-lg">Reset password</button>
    </div><br />

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5>REPORT BUGS</h5>

                <div class="form-group">
                    <label for="inputAddress">Enter the main body of your report here:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
                    <div class="form-group">
                        <label for="inputProblem">Select a category</label>
                        <select id="inputProblem" class="form-control">
                            <option selected>Choose...</option>
                            <option>Billing Issue</option>
                            <option>Text & Audio</option>
                            <option>Technical</option>
                            <option>Lost Items</option>
                            <option>Graphical</option>
                            <option>Gameplay</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">Enter the main body of your report here:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Please provide steps to recreate the bug:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <hr />
                    @ViewBag.Name
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>RESET PASSWORD</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Old Password</label>
                        <input type="password" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">New Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </div><br />

    <h3>Report Status</h3><br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 10%">ID</th>
                <th scope="col" style="width: 50%">Title</th>
                <th scope="col" style="width: 20%">Date</th>
                <th scope="col" style="width: 20%">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>A</td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}