﻿@model ROVPROJECTREPORT.Models.Reports

@{
    ViewData["Title"] = "Create";
}


<h2>Reports</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" for="inputAddress">ID</label>
                <input asp-for="Id" type="number" class="form-control" id="inputAddress">
            </div>
            <div class="form-group">
                <label asp-for="Title" for="inputAddress">Title</label>
                <input asp-for="Title" type="text" class="form-control" id="inputAddress">
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Select a category</label>
                <select id="inputProblem" asp-for="Type" class="form-control">
                    <option selected>Choose...</option>
                    <option>Billing Issue</option>
                    <option>Text & Audio</option>
                    <option>Technical</option>
                    <option>Lost Items</option>
                    <option>Graphical</option>
                    <option>Gameplay</option>
                </select>
            </div>


            <div class="form-group">
                <label asp-for="Details">Enter the main body of your report here:</label>
                <textarea class="form-control" asp-for="Details" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Recreate" for="inputAddress2">Please provide steps to recreate the bug:</label>
                <textarea asp-for="Recreate" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <hr />
            @ViewBag.Name
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to main page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
