﻿@model IEnumerable<ROVPROJECTREPORT.Models.Reports>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div>
        <img src="~/img/19199050.jpg" style="width: 400px; display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
        <div class="alert alert-danger" role="alert">
            When reporting success! You will receive a response no more than 24 hours
        </div>
    </div>
    <h1 class="text-center">Account ROV</h1>
    <div class="text-center">
        <a href="/reports/create"><button type="button" class="btn btn-primary btn-lg active">Report bugs</button></a>
    </div><br />

    

    <h3>Report Status</h3><br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 10%">ID</th>
                <th scope="col" style="width: 50%">Title</th>
                <th scope="col" style="width: 20%">Type</th>
                <th scope="col" style="width: 20%">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td class="text-warning">
                        In process
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}